/* 3x5 cards style sheet */
.hidden		{ display: none; }
.shown		{ display: ""; }
.nonprint	{ display: ""; }
@media print {
.nonprint	{ display: none; }
}

button {
	border:		2px;
	text-align:	center;
	display:	inline-block;
	background-color:	white;
	color:		black;
	border:		2px outset;
}
h_id,h_number,h_title,h_cdate,h_mdate,h_batch,h_form {
	background:	#f0f0f0;
	font-weight:	bold;
	border:		none 0;
	text-align:	left;
	padding-left:	.5em;
}
h_card {
	background:	#f0f0f0;
	font-weight:	bold;
	border:		inset 1pt;
	text-align:	left;
	padding-left:	.5em;
}
b_id,b_number,b_title,b_cdate,b_mdate,b_card,b_form,b_check {
	background:	#d0d0d0;
	border:		none 0;
	text-align:	left;
	padding-left:	.5em;
}
/* legacy styles */
#right {
	text-align: right	!important;
	padding-right: .5em	!important;
}
#left {
	text-align: left	!important;
	padding-left: .5em	!important;
}
#center {
	text-align: center	!important;
	padding-left: .5em	!important;
	padding-right: .5em	!important;
}
a:link,a:active,a:visited {
	text-decoration: none;
	color: #0000FF;
}
a.help:link,a.help:active,a.help:visited {
	text-decoration: none;
	color: #805000;
}
#title {
	background:	#afffaf;
	border-style:	none;
	padding:	2px;
	height:		"20%";
	width:		"100%";
}
#options {
	background:	#afafff;
	border-style:	none;
	padding:	2px;
	height:		"80%";
	width:		"100%";
}
#main {
	background:	#efefef;
	border-style:	none;
	height:		"100%";
	width:		"100%";
}
#bodyleft {
	float:		left;
	height:		"100%";
	width:		"20%";
}
#bodyright {
	float:		right;
	height:		"100%";
	width:		"80%";
}
#page {
	width:		"100%";
	height:		"100%";
}
/* Clear floats after the columns */
#page:after {
	content:	"";
	display:	table;
	clear:		both;
}

iframe {
	border:		0;
}

ul {
	list-style: none;
	line-height: 1.1;
	padding-left: 0;
	margin-left: 1pt;
	margin-top: .2em;
}
ul ul {
	list-style: square;
	line-height: 1.0;
	padding-left: 1em;
	margin-left: 1pt;
}
table.outer {
	background: #f0d0d0;	/* box_color */
	text-align: center;
	border: outset 3px;
/*	padding: 2em; */
	margin: 0;
	width: 100%;
}
table.tight {
	background: #f0d0d0;	/* box_color */
	text-align: center;
	border: outset 3px;
	padding: 10px;
	margin: 0;
}
table.form {
	background: #d0d0d0;	/* form_color */
	text-align: center;
	border: outset 3px;
	padding: 0;
	margin: 0;
	width: 100%;
}
table.batch {
	background: #d0d0d0;	/* form_color */
	text-align: center;
	border: outset 3px;
	padding: 0;
	margin: 0;
	width: 100%;
}
table.cardview {
	background: #d0d0d0;
	text-align: center;
	border: outset 2pt;
	padding: 0;
	margin: 0;
	width: 100%;
}
table.cardview_relate {
	background: #a0a0dd;
	text-align: center;
	border: outset 2pt;
	padding: 0;
	margin: 0;
	width: 100%;
}
table.dates {
	background: #f0f0f0;
	text-align: center;
	border: none 0;
	padding: 0;
	margin: 0;
	width: 100%;
}
td.h_number,td.h_title,td.h_card,td.h_batch,td.h_form {
	background: #f0f0f0;
	border: none 0;
	text-align: left;
	padding-left: .5em;
}
td.b_number,td.b_title,td.b_card,td.b_form {
	background: #d0d0d0;
	border: none 0;
	text-align: left;
	padding-left: .5em;
}
td.b_title {
	background: #e0e0e0;
}
td.b_cid {
	background: #d0d0d0;
	border: inset 1pt;
	text-align: right;
	padding-right: .5em;
}
td.h_dates {
	border: none 0;
	text-align: center;
	padding: 0;
}
td.relate {
	border: none 0;
	text-align: left;
	padding-left: .5em;
	background: #a0a0dd;
}
td.none {
	border: none 0;
	text-align: left;
	padding-left: .5em;
}
td.related_warn {
	border: none 0;
	text-align: left;
	padding-left: .5em;
	background: #cc5050;
}
em.warn {
	font-style: normal;
	font-size: larger;
	font-weight: bolder;
	color: #ff4040;
}
em.inform {
	font-style: normal;
	font-size: larger;
	font-weight: bolder;
	color: #40aaaa;
}
em.help {
	font-style: normal;
	color: #805000;
}
em.noselect {
	font-style: oblique;
	font-weight: lighter;
	color: #ffffff;
}
p.help {
	text-align: left;
}
pre {
	margin-top: 0;
	margin-bottom: 0;
}
pre br {
	line-height: 0;
}

/* PRINT-ONLY styles */
@media print {
#main {
	background:	#ffffff;
	border-style:	none;
	height:		"100%";
	width:		"100%";
}
#bodyleft {
	float:		left;
	height:		"100%";
	width:		0;
	display:	none;
}
#bodyright {
	float:		right;
	height:		"100%";
	width:		"100%";
}
table.outer {
	background: #ffffff;	/* box_color */
	text-align: center;
	border: none 0;
/*	padding: 2em; */
	margin: 0;
	width: 100%;
}
table.tight {
	background: #ffffff;	/* box_color */
	text-align: center;
	border: none 0;
	padding: 10px;
	margin: 0;
}
table.form {
	background:	#ffffff;	/* form_color */
	text-align:	center;
	border:		solid 1pt;
	border-collapse: collapse;
	padding:	0;
	margin:		0;
	width:		100%;
}
table.batch {
	background:	#ffffff;
	text-align:	center;
	border:		none 0;
	padding:	0;
	margin:		0;
	width:		100%;
}
table.cardview {
	background:	#ffffff;
	text-align:	center;
	border:		2px solid #d0d0d0;
	border-collapse: collapse;
	padding:	0;
	margin:		0;
	width:		100%;
}
table.cardview_relate {
	background:	#ffffff;
	text-align:	center;
	border:		2px solid #d0d0d0;
	padding:	0;
	margin:		0;
	width:		100%;
}
table.dates {
	background:	#ffffff;
	text-align:	center;
	border:		none 0;
	padding:	0;
	margin:		0;
	width:		100%;
}
h_id,h_number,h_title,h_cdate,h_mdate,h_batch,h_form {
	background:	#ffffff;
	font-weight:	bold;
	border:		2px solid #d0d0d0;
	text-align:	left;
	padding-left:	.5em;
}
h_card {
	background:	#ffffff;
	font-weight:	bold;
	border:		1pt;
	text-align:	left;
	padding-left:	.5em;
}
b_id,b_number,b_title,b_cdate,b_mdate,b_card,b_form,b_check {
	background:	#ffffff;
	border:		2px solid #d0d0d0;
	text-align:	left;
	padding-left:	.5em;
}
td.h_number,td.h_title,td.h_card,td.h_batch,td.h_form {
	background:	#ffffff;
	border:		2px solid #d0d0d0;
	text-align:	left;
	padding-left:	.5em;
}
td.b_number,td.b_title,td.b_card,td.b_form {
	background:	#ffffff;
	border:		2px solid #d0d0d0;
	text-align:	left;
	padding-left:	.5em;
}
td.b_cid {
	background:	#ffffff;
	border:		2px solid #d0d0d0;
}
}
