<?php
//////////////////////////////////////////////////////////////////////////
//
// DESC: db_connect.inc
// DESC: DB connection string
//
//////////////////////////////////////////////////////////////////////////
$db_connect = "user=www-data password=SomePassword dbname=i3x5 port=5432 host=localhost";
?>
