<?php
//////////////////////////////////////////////////////////////////////////
//
// DESC: db_connect.inc
// DESC: DB connection string
//
//////////////////////////////////////////////////////////////////////////
$db_pass = "SomePassword";
$db_connect = "user=www-data password=$db_pass dbname=i3x5 port=5432 host=localhost";
?>
