# ErrorDocument 404 
<IfModule mod_dir.c>
	DirectoryIndex indexF.php
</IfModule>
# enable this for secure communication (requires mod_ssl)
SSLRequireSSL

# Make all PHP code look like HTML
AddType application/x-httpd-php .html

php_flag	register_globals		Off
